{% extends "layout.html" %}
{% block body %}
    <script>
        $('#navbar_form_container').hide();
    </script>
    <script type="text/javascript">
        window.table_regions = {{ filtered_regions_json|safe }};
    </script>
    <div class="container">
        <h1 id="home-title">ExAC Browser (Beta) | {{ project_name }}</h1>

        {% if sample_names and sample_names|length > 0 %}
            <b>Samples:</b>
            {% for sample in sample_names %}
                <p><a href="/{{ genome }}/{{ project_name }}/{{ sample }}">{{ sample }}</a></p>
            {% endfor %}
        {% endif %}

        {% if filtered_regions and filtered_regions|length > 0 %}
            <div class="row">
            Show regions with coverage less than:
                {% for depth in depth_thresholds %}
                    <label><input type="radio" name="depth_thresholds" value="{{ depth }}"> {{ depth }}x</label>
                {% endfor %}
            </div>
            <div class="row">
                    {% include 'regions_table.html' %}
            </div>
        {% endif %}
    </div>
{% endblock %}
