{% block regions_table %}
{% include "regions_table_template.html" %}
<script>
    $(document).ready(function() {

        $("#regions_loading").hide();
        $("#regions_table_container").show();
        window.regions_template = _.template($('#regions-table-template').html());
        $('#regions_table_container').html(regions_template({table_regions: table_regions}));
        $('#pager').hide();
        $('[is_key_gene=true]').addClass('key_row');
        $('input[type=radio][name=depth_thresholds]').change(function() {
            $('[depth_threshold]').hide();
            $('[depth_threshold=' + this.value + ']').show();
            $('#depth_col').html('Depth<' + this.value + 'x');
        });
        $('input[name=depth_thresholds][value=10]').prop("checked", true);
        $('[depth_threshold]').hide();
        $('[depth_threshold=10]').show();
        $('#depth_col').html('Depth<10x');

        $("#regions_table").tablesorter({
            sortList: [[0,0]]
        });

        $("#export_to_csv").on('click', function (event) {
            var output_name = window.page_name === undefined ? 'export' : window.page_name;
            var timestamp = date_format(new Date());
            exportTableToCSV.apply(this, [$('#regions_table'), 'exac_' + output_name + '_' + timestamp + '.csv']);
        });
        $('#regions_selectors_container').show();
        $('.regions_display_buttons').change(function () {
            setTimeout(function() {
                var keyGeneState = $('.regions_display_buttons.active')
                    .attr('id')
                    .replace('regions_selection_', '')
                    .replace('_button', '');
                $('[depth_threshold]').hide();
                $('[depth_threshold]').map(function(row) {
                    if (keyGeneState === 'az300' && $(this).attr('is_key_gene') !== 'true') {
                        return
                    }
                    if ($(this).attr('depth_threshold') == $('input[type=radio][name=depth_thresholds]').val())
                        $(this).show();
                });
            }, 10);
        });
    });
</script>
<div id="regions_loading">Loading filtered regions...</div>
<div id="regions_table_container" style="display: none;"></div>
<div id="regions_table_empty" style="display: none;"></div>
{% endblock %}
