<script type="text/template" id="regions-table-template">
<span>
    <a class="btn btn-success hidden-xs" id="export_to_csv">Export table to CSV</a>
</span>
<table id="regions_table" class="tablesorter">
    <thead>
        <tr>
            <th class='hidden-xs'>Region</th>
{#            <th class='hidden-xs numbers_td'>Start</th>#}
{#            <th class='hidden-xs numbers_td'>End</th>#}
            <th class="hidden-xs">Gene</th>
            <th class="hidden-xs numbers_td" id="depth_col">Part of region with depth &lt; Nx</th>
            <th class="hidden-xs numbers_td">Samples sharing low cov</th>
            <th class="hidden-xs">Annotation</th>
        </tr>
    </thead>
    <tbody>
    <% _.each(table_regions, function(region) { %>
        <tr class="table_region" id="region_<%= region.region_id %>" depth_threshold="<%= region.depth_threshold %>" samples="<%= region.samples %>" depth="<%= region.depth %>" gene="<%= region.gene %>">
            <td class='hidden-xs numbers_td' style='text-align: left; white-space: nowrap;'>
                <%= region.chrom %>:<a href="region/<%= region.chrom %>-<%= region.start %>-<%= region.stop %>"><%= region.start_str %>-<%= region.stop_str %></a>
            </td>
            <td class="hidden-xs" style='white-space: nowrap;><a href="awesome?query=<%= region.gene %>"><%= region.gene %></a></td>
            <td class="hidden-xs numbers_td"> <%= region.depth %></td>
            <td class="hidden-xs numbers_td"> <%= region.samples %></td>
            <td class="hidden-xs"> <%= region.annotation %></td>
        </tr>
    <% }); %>
    </tbody>
</table>
</script>
