{% extends "layout.html" %}
{% block body %}
    <script>
        $('#navbar_form_container').hide();
    </script>
    <script type="text/javascript">
        window.sample_variants = {{ sample_variants_json|safe }};
    </script>
    <div class="container">
        <h1 id="home-title">ExAC Browser (Beta) | <a href="/{{ genome }}/{{ project_name }}/">{{ project_name }}</a> | {{ sample_name }}</h1>
        <div>
            <div class="col-md-12">
                <div id="home-searchbox">
                    <form action="/{{ genome }}/{{ project_name }}/{{ sample_name }}/awesome">
                        <input type="submit" style="display: none;"/>
                        <input id="home-searchbox-input" name="query" class="form-control input-lg awesomebar" type="text" placeholder="Search for a gene or variant or region"/>
                        <input type="submit" style="position: absolute; left: -9999px"/>
                    </form>
                    <p class="text-muted">
                        Examples - Gene: <a href="/{{ genome }}/{{ project_name }}/{{ sample_name }}/awesome?query=TP53">TP53</a>,
                        Transcript: <a href="/{{ genome }}/{{ project_name }}/{{ sample_name }}/transcript/NM_000546">NM_000546</a>,
                        Variant: <a href="/{{ genome }}/{{ project_name }}/{{ sample_name }}/variant/17-7579311-C-A">17-7579311-C-A</a>,
                        Region: <a href="/{{ genome }}/{{ project_name }}/{{ sample_name }}/region/17-7579300-7579900">17:7579300-7579900</a>
                    </p>
                </div>
            </div>
        </div>

        {% if sample_variants and sample_variants|length > 0 %}
            <br>
            <br>
            <h3>Mutations</h3>
            <p>Showing known actionable mutations with allele frequency (AF) above 2.5 % and other likely significant mutations with AF above 7.5 %.</p>
            <div>
                {% include 'sample_variants_table.html' %}
            </div>
        {% endif %}

    </div>
{% endblock %}
